@import "../variables";

.note {
  @include flex-center ();
  flex-direction: column;

  .link-home {
    margin: 40px 0 120px;
    @include flex-center ();
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      color: $select;
    }

    .ic-arrow-left {
      margin-right: 10px;
    }
  }
}

.col-red {
  color: $select;
}
