// Mobile first
$mediaMobile: 400px;
$mediaTablet: 960px;
$mediaLaptop: 961px;

// Typography
$font-stack: Avenir, Helvetica, Arial, sans-serif;
$primary-color: #555454;
$background: #f5f5f5;
$todo-card: #f1f1f1;
$select: #FF5722;

// Mixins
@mixin flex-center () {
  display: flex;
  align-items: center;
  justify-content: center;
}
